.page-title{
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

.form-container{
    width: 400px;
    margin: auto;
}

.post-class{
    margin-top: 10px !important;
}

.post-form{
    margin-top: 30px !important;
}

.custom-button{
    background-color: white !important;
}